/*1 rem = 16px*/

body {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #C2C2C2;
  font-weight: 300;
}

.title {
  margin: 0;
  font-size: 2rem;
  color: #DD2476;
}

.flexboxContainer {
  display: flex;
}

.flexboxItem {
  width: 20%;
  min-width: 25rem;
  padding: 1rem;
  border: 0.1rem dashed #5890AD;
}

.flexboxItem:first-child {
  margin-right: 10rem;
}

.emptyList {
  color: #6624DD;
}

